@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ,body {
    height: 100%;
    font-family: 'Assistant', sans-serif;
    background-color: #ebecf0 !important;
}

.space-left > * {
    margin-left: 10px;
}

.space-bottom > * {
    margin-bottom: 10px;
}

.v-application {
    font-family: 'Assistant', sans-serif !important;
    // font-family: 'Heebo', sans-serif !important;
    .v-title {
        font-family: 'Assistant', sans-serif;
    }
}

// .v-list-item-group .v-list-item--active {
//     border-left: .30rem solid #0747a6;
// }